// CON EL ARCHIVO DE (.gitignore) LO QUE SE PODRA ES QUE HAGAMOS IGNORAR ALGUN ARCHIVO QUE NO NOS
// INTERESE QUE SE ACTUALICE POR GIT

*.psd // CON ESTO PODEMOS IGNORAR TODOS LOS ARCHIVOS (PSD)
nombreDelArchivo.txt // PARA IGNORAR UN ARCHIVO EN ESPECIFICO COLOCAMOS EL NOMBRE Y LA EXTENSION